/.vscode
/src/obj
/src/processManager
/src/test1
/src/test1.c
/src/test2
/src/test2.c
/src/executa_postergado
/src/escalonador
/src/test3.c
/src/test4.c
/src/test3
/src/test4
/src/hello
src/gerente_execucao
